<mat-toolbar>
  <h1 style="margin-right: 10px;">Nieuwe module</h1>
</mat-toolbar>
<table class="container">
  <col width="30%">
  <col width="70%">
  <tr>
    <td valign="top">
      <mat-card>
        <mat-card-title>Algemeen</mat-card-title>
        <mat-card-content>
          <form [formGroup]="klimModule" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
              <mat-label>Titel</mat-label>
              <input matInput aria-label="moduleNaam" formControlName="moduleNaam" required />
              <mat-error *ngIf="klimModule.get('moduleNaam').errors && klimModule.get('moduleNaam').touched">
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Budget</mat-label>
              <input matInput aria-label="standaardBudget" type="number" formControlName="standaardBudget" required />
              <mat-error *ngIf="klimModule.get('standaardBudget').errors && klimModule.get('standaardBudget').touched">
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Duurtijd (minuten)</mat-label>
              <input matInput aria-label="duurInMinuten" type="number" formControlName="duurInMinuten" required />
              <mat-error *ngIf="klimModule.get('duurInMinuten').errors && klimModule.get('duurInMinuten').touched">
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Omschrijving</mat-label>
              <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="10" aria-label="beschrijving" type="text" formControlName="beschrijving"></textarea>
            </mat-form-field>
            <button type="submit" matInput mat-raised-button color="primary"
              [disabled]="klimModule.get('standaardBudget').errors ||  klimModule.get('duurInMinuten').errors || klimModule.get('moduleNaam').errors">
              <mat-icon>save</mat-icon> Opslaan
            </button>
            <button type="button" (click)="deleteModule()" matInput mat-raised-button color="warn">
              <i class="material-icons">
                delete_forever
              </i>
            </button>
            <button [routerLink]="['/Module/Lijst']" type="button" matInput mat-raised-button
              style="float: right;margin-right: 15px;">
              <mat-icon>restore</mat-icon>
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </td>
    <td valign="top">
        <mat-card>
          <mat-card-title>
            Winkel
            <button (click)="addMateriaal()" color="primary" style="float: right; margin-bottom: 10px; margin-left: 10px;" mat-raised-button
            aria-label="materiaal">
            <mat-icon>add</mat-icon>Materiaal
          </button>
          <button (click)="addMateriaal()" color="primary" style="float: right; margin-bottom: 10px;" mat-raised-button
            aria-label="ingrediënt">
            <mat-icon>add</mat-icon>Ingrediënt
          </button>
          </mat-card-title>
          <mat-card-content>
            <table class="shop" cellspacing="0">
              <thead>
                <th>Icoon</th>
                <th>Naam</th>
                <th>Omschrijving</th>
                <th>Eenheid</th>
                <th>Prijs per eenheid</th>
                <th>Eigenschappen</th>
              </thead>
              <tr *ngFor="let materiaal of shop$ | async">
                <td>
                  <img src="{{materiaal.icoon}}" />
                </td>
                <td>{{materiaal.naam}}</td>
                <td matTooltip="{{materiaal.omschrijving}}">
                  {{(materiaal.omschrijving.length>40)? (materiaal.omschrijving | slice:0:40)+'...':(materiaal.omschrijving)}}
                </td>
                <td>{{materiaal.eenheid == null ? "per stuk" : getEenheidString(materiaal.eenheid)}}</td>
                <td>{{materiaal.prijs | number:'.2'}}</td>
                <table id="tblEigenschap">
                    <td *ngFor="let eigenschap of materiaal.eigenschappen">
                      <button (click)='deleteEigenschap(materiaal, eigenschap)' mat-icon-button color="warn">
                        {{eigenschap.eigenschapNaam}}
                        <i class="material-icons">
                          clear
                        </i>
                      </button>
                    </td>
                  </table>
                <td style="text-align: right;">
                    <button (click)="editMateriaal(materiaal)" mat-icon-button id="editButton">
                        <i class="material-icons">
                          edit
                        </i>
                      </button>
                      <button (click)='addEigenschap(materiaal)' mat-icon-button id="addEigenschap">
                        <i class="material-icons">
                          add
                        </i>
                      </button>
                      <button (click)='deleteMateriaal(materiaal)' mat-icon-button color="warn">
                        <i class="material-icons">
                          delete_forever
                        </i>
                      </button>
                </td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </td>
  </tr>
</table>
