<mat-toolbar>Nieuwe module
  <button class="padLeft" mat-icon-button matTooltip="Verander naam">
    <mat-icon>edit</mat-icon>
  </button>
</mat-toolbar>
<table class="container">
  <col width="30%">
  <col width="70%">
  <tr>
    <td valign="top">
      <mat-card>
        <mat-card-title>Algemeen</mat-card-title>
        <mat-card-content>
          <form [formGroup]="klimModule" (ngSubmit)="onSubmit()">

            <mat-form-field appearance="outline">
              <mat-label>Budget</mat-label>
              <input matInput aria-label="standaardBudget" type="number" formControlName="standaardBudget" required />
              <mat-error *ngIf="klimModule.get('standaardBudget').errors && klimModule.get('standaardBudget').touched">
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Duurtijd (minuten)</mat-label>
              <input matInput aria-label="duurInMinuten" value="120" type="number" formControlName="duurInMinuten"
                required />
              <mat-error *ngIf="klimModule.get('duurInMinuten').errors && klimModule.get('duurInMinuten').touched">
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Omschrijving</mat-label>
              <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="10" aria-label="beschrijving" type="text" formControlName="beschrijving"></textarea>
            </mat-form-field>
            <button type="submit" matInput mat-raised-button
              [disabled]="klimModule.get('standaardBudget').errors ||  klimModule.get('duurInMinuten').errors || klimModule.get('moduleNaam').errors">
              Creëer Module
            </button>
            <button [routerLink]="['Module']" matInput mat-raised-button color="warn"><i class="material-icons">
                delete_forever
              </i>

            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </td>
    <td valign="top">
      <mat-card>
        <mat-card-title>Winkel</mat-card-title>
        <mat-card-content>
          <table class="shop" cellspacing="0">
            <thead>
                <th>
                  Icoon
                </th>
                <th>
                  Naam
                </th>
                <th>
                  Omschrijving
                </th>
                <th>
                  Prijs
                </th>
            </thead>
            <tr *ngFor="let materiaal of test_shop">
                <td>{{materiaal.icoon}}</td>
                <td>{{materiaal.naam}}</td>
                <td matTooltip="{{materiaal.omschrijving}}"> {{(materiaal.omschrijving.length>6)? (materiaal.omschrijving | slice:0:15)+'...':(materiaal.omschrijving)}} </td>
                <td>{{materiaal.prijs}}</td>
                <td style="text-align: right;">{{materiaal.id}} <button class="padLeft" mat-icon-button >
                    <mat-icon>edit</mat-icon>
                  </button>
                    <button [routerLink]="['Module']" matInput mat-icon-button color="warn"><i class="material-icons">
                        delete_forever
                      </i>
        
                    </button></td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </td>
  </tr>
</table>