<mat-toolbar>
        <h1 style="margin-right: 10px;">Rapport van de teams voor {{moduleInstance.klimModule.moduleNaam}}</h1>
</mat-toolbar>
<div class="container">
        <mat-card>
                <button (click)="backToDashboard()" mat-button color="primary">
                        <i class="material-icons">
                        keyboard_backspace
                        </i><span> Terug naar dashboard</span></button>
                <button (click)="generatePdf('open')" mat-button color="go_magenta">
                        <i class="material-icons">
                        picture_as_pdf
                        </i> <span> Open PDF</span></button>
                <button (click)="generatePdf('download')" mat-button color="go_magenta">
                        <i class="material-icons">
                        cloud_download
                        </i><span> Download PDF</span></button>
                <button (click)="generatePdf('print')" mat-button color="go_magenta">
                        <i class="material-icons">
                        print
                        </i><span> Print PDF</span></button>
                <button id='loadButton' (click)="load()" [disabled]="!loadable" mat-button color="primary">
                        <i class="material-icons">
                        refresh
                        </i><span> Laad voorvertoning</span></button>
        </mat-card> 
        <div style="margin-top: 10px;">       
                <mat-card>
                        <mat-card-title style="margin-bottom: 12px;">Voorvertoning van het rapport</mat-card-title>                    
                        <div id='iframeContainer' style="height: 720px; align-self: auto;">
                        </div>
                </mat-card>
        </div>
</div>