<mat-card>
    <mat-card-title>Creëer Module</mat-card-title>
    <mat-card-content>
      <form [formGroup]="klimModule" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input
            matInput
            aria-label="moduleNaam"
            placeholder="Modulenaam"
            type="text"
            formControlName="moduleNaam"
            required
          />
          <mat-error
            *ngIf="klimModule.get('moduleNaam').errors && klimModule.get('moduleNaam').touched"
          >
            
          </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
              matInput
              aria-label="standaardBudget"
              placeholder="Standaard budget"
              type="number"
              formControlName="standaardBudget"
              required
            />
            <mat-error
              *ngIf="klimModule.get('standaardBudget').errors && klimModule.get('standaardBudget').touched"
            >
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              aria-label="duurInMinuten"
              placeholder="Duur in minuten"
              type="number"
              formControlName="duurInMinuten"
              required
            />
            <mat-error
              *ngIf="klimModule.get('duurInMinuten').errors && klimModule.get('duurInMinuten').touched"
            >
            </mat-error>
          </mat-form-field>
          <button type="submit" mat-raised-button>
              Creëer Module
          </button>
          <div
            formArrayName="materialen"
            *ngFor="let item of materialen.controls; let i = index">
              <div [formGroupName]="i">
                <mat-form-field appearance="outline">

                  <mat-label>
                      <mat-icon>account_balance</mat-icon> Materialen
                  </mat-label>

                  <mat-select [(value)]="item.materiaal" formControlName="materiaal">
                      <mat-option *ngFor="let materiaal of materialen$ | async" [value]="materiaal" >
                        {{materiaal.materiaalNaam}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <input
                    matInput
                    aria-label="prijs"
                    placeholder="Prijs"
                    type="number"
                    formControlName="prijs"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input
                    matInput
                    aria-label="aantalInStock"
                    placeholder="Aantal in Stock"
                    type="number"
                    formControlName="aantalInStock"
                    required
                  />
                </mat-form-field>
                <mat-error *ngIf="item.errors && item.get('name').touched">
                    {{ getErrorMessage(item.errors) }}
                  </mat-error>
              </div>
          </div>

        
      </form>
    </mat-card-content>
  </mat-card>