mat-form-field {
  width: 100%;
}

#eenheid {
  width: 15%;
}

#prijs {
  width: 35%;
}

#klimaatScore {
  width: 45%;
}

mat-icon {
  margin-right: 10px;
}

button[color="primary"] {
  background-color: var(--text-green);
}
