<mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav
      #sidenav
      mode="side"
      opened="true"
      hasBackdrop="false"
    >
      <mat-nav-list>
        <mat-list-item (click)="isExpanded = !isExpanded">
            <mat-icon mat-list-icon *ngIf="isExpanded">chevron_left</mat-icon>
            <mat-icon mat-list-icon *ngIf="!isExpanded">chevron_right</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLinkActive]="['active']" [routerLink]="['Home']">
          <mat-icon mat-list-icon>home</mat-icon>
          <p matLine *ngIf="isExpanded">Dashboard</p>
        </mat-list-item>
        <mat-list-item [routerLinkActive]="['active']" [routerLink]="['Boards']">
          <mat-icon mat-list-icon>view_module</mat-icon>
          <p matLine *ngIf="isExpanded">Modules</p>
        </mat-list-item>
        <mat-list-item [routerLinkActive]="['active']" [routerLink]="['Boards']">
          <mat-icon mat-list-icon>eco</mat-icon>
          <p matLine *ngIf="isExpanded">Materialen</p>
        </mat-list-item>
        <mat-list-item [routerLinkActive]="['active']" [routerLink]="['Boards']">
          <mat-icon mat-list-icon>person</mat-icon>
          <p matLine *ngIf="isExpanded">Profiel</p>
        </mat-list-item>
        <mat-list-item [routerLinkActive]="['active']" [routerLink]="['Boards']">
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <p matLine *ngIf="isExpanded">Log Out</p>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
<span class="content"> some Content </span>
<ng-content class="content"></ng-content>