<mat-sidenav-container class="sidenav-container" autosize *ngIf="this.authService.user$ | async">
  <mat-sidenav #sidenav mode="side" opened="true" hasBackdrop="false">
    <mat-nav-list>
      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon *ngIf="isExpanded">chevron_left</mat-icon>
        <mat-icon mat-list-icon *ngIf="!isExpanded">chevron_right</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLinkActive]="['active']" [routerLink]="['Module/Lijst']">
        <mat-icon mat-list-icon>home</mat-icon>
        <p matLine *ngIf="isExpanded">Dashboard</p>
      </mat-list-item>
      <mat-list-item (click)="logout();" [routerLink]="['/User/Login']">
        <mat-icon style="color:#dc3545" mat-list-icon>exit_to_app</mat-icon>
        <p matLine *ngIf="isExpanded">Log Out</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
<div class="content">
  <ng-content></ng-content>
</div>
