.sidenav-container {
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 11;
}

.mat-drawer {
  background-color: var(--background-dark) !important;
}

.active {
  background-color: var(--background-mediumdark) !important;
}

.content {
    margin-left: 70px;
    padding-top: 20px;
}

mat-list-item {
  color: white !important;
}