<mat-dialog-content>
    <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">

        <mat-form-field>
            <mat-label>
                <mat-icon>account_balance</mat-icon> Budget
              </mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="2" aria-label="budget" type="text"
                                formControlName="budget"></textarea>
        </mat-form-field>

        <mat-error *ngIf="teamForm.get('budget').errors">
            
        </mat-error>

        <div>
            <button type="submit" matInput mat-raised-button color="primary"
              [disabled]="teamForm.get('budget').errors || !valueChanged()"><mat-icon>save</mat-icon>
              Opslaan
            </button>
            <button type="button" mat-raised-button mat-dialog-close color="warn" style="float: right"><mat-icon>cancel</mat-icon>Annuleer</button>
          </div>
    </form>
</mat-dialog-content>